{% extends 'base.html' %}
{%block content %}
{% load static%}


<!-- Page Content -->
<div class="page-heading products-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>new arrivals</h4>
                    <h2>M-Store products</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="products">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="filters-content">
                    <div class="row grid">
                        {%for item in items%}
                        <div class="col-md-4">
                            <div class="product-item">
                                <a href="#"><img src="{{item.imageURL}}" alt=""></a>
                                <div class="down-content">
                                    <a href="#"><h4>{{item.name}}</h4></a>
                                    <h6>PKR{{item.price}}/-</h6>
                                    <p>{{item.description}}</p>
                                    {%if item.stock %}
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                    <span>In Stock</span>
                                    {% else %}
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><h3>Not In Stock</h3></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                    <span style="color:red;">Coming Back Soon</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>

{% endblock %}
